body{
    background-image: url(https://images.unsplash.com/photo-1539418561314-565804e349c0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmxhbWluZ28lMjBiaXJkfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: ;
 color: lime;
text-align: center;
margin: 100px;
}
a{
    color: rgb(7, 238, 255);
}
a:hover{
    color: mediumvioletred;
    background: palegreen;
}